<!DOCTYPE html>
<html>
    <body>
        <div>
            <p>Hello <%= name %> </p>
            <p> congratulation you have successfully created an account 🥳🎉</p>
            <p>
                happy shopping enjoy the awesome offers at our site and get the best 
                deals on our endless variety. 
            </p>
            <p>
                if you have any issues contact us via 
                <br/>
                email: <span>hello@gmail.com</span>
                phone: <span>0712345678</span>
            </p>
        </div>
    </body>
</html>